
<!DOCTYPE html>

<html>

<head>
    <!-- com o SES tirar alignitems, display e flex direction
            align-items: center;
            display: flex;
            flex-direction: column;
      -->
    <!-- com o SES colocar no span{} display: block-->
    <style>
        .container {
            width: 800px;
            font-family: Arial, Helvetica, sans-serif;
            align-items: center;
            display: flex;
            flex-direction: column;

        }

        span {
            margin: 10px 0;
            display: block;
        }
    </style>
</head>

<body>
    <div class="container">
        <img src="" alt="logo">
        <span>
            Oi, {{vendor.name}}
        </span>

        <br>
        <span>O pagameno do pedido: {{products[0].order_id}}, {{#if approved}}foi CONFIRMADO{{else}}foi RECUSADO {{/if}}</span>
        {{#each products}}
        <span>{{this.quantity}} - {{this.product.name}} </span>
        {{/each}}
        <span>Para gerenciar o pedido entre na sua <a href={{link}}> area de vendedor </a></span>

        <strong>Obrigado!</strong>


    </div>
</body>

</html>